.bus-image {
  width: 10px;
  height: 10px;
  background: #222;
  border-radius: 50%;
}

.info-popup {
  display: none;
}

.marker:hover .info-popup {
  display: block;
  width: 240px;
  background: white;
  border: solid 3px #444;
  border-radius: 10px;
  font-size: 1.4em;
}

ul {
  list-style-type: none;
  padding-left: 15px;
}

li {
  padding: 5px 0;
}